**/.git
**/.venv
**/__pycache__
**/.pytest_cache
**/.DS_Store
EvaluationPlatform/Initialization/backups
EvaluationPlatform/Initialization/generated
EvaluationPlatform/Runner/evaluation
EvaluationPlatform/Runner/results

**/kubernetes/secret.yml
**/kubernetes/secret.yaml
**/.env
**/.env.*
**/*.env
**/inventory.ini
**/vault.yml
**/config/environment.json
**/*.pem
**/*.key
**/kubeconfig*
**/.vault-password
**/.ipynb_checkpoint
**/.ipynb_checkpoints
EvaluationPlatform/Grader/results
EvaluationPlatform/Grader/grades
EvaluationPlatform/Grader/visualizations
EvaluationPlatform/Grader/eda/exports
