database.dsn=postgresql://{{ database_user }}:{{ database_password }}@{{ database_host }}:{{ database_port }}/{{ database_name }}
api.ingestion_token={{ agent_ingestion_token }}
api.control_token={{ agent_control_token }}
rca.base_url=http://rca-agent.{{ agents_namespace }}.svc.cluster.local:8081
rca.token={{ rca_submit_token }}
remediator.base_url=http://remediator-agent.{{ agents_namespace }}.svc.cluster.local:8082
remediator.token={{ remediator_submit_token }}
scheduler.intake_interval_seconds=60
scheduler.reconcile_interval_seconds=5
scheduler.batch_size=100
