server.profile=investigation
server.token={{ mcp_investigation_token }}
tools.kubectl.path=/usr/local/bin/kubectl
tools.prometheus.base_url=http://prometheus-server.{{ prometheus_namespace }}.svc.cluster.local
tools.loki.base_url=http://loki.{{ observability_namespace }}.svc.cluster.local:3100
tools.jaeger.base_url=http://tracing.{{ istio_namespace }}.svc.cluster.local:80
tools.network.namespace={{ utility_namespace }}
tools.network.overlay_selector=app.kubernetes.io/name=mcp-tools-network-probe,app.kubernetes.io/component=overlay
tools.network.underlay_selector=app.kubernetes.io/name=mcp-tools-network-probe,app.kubernetes.io/component=underlay
